<%- include("includes/head", { title: "Check Your Email" }) %>
<main class="grid place-items-center min-h-screen py-10">
	<section
		class="grid gap-10 max-w-xl w-full bg-base-200 border border-base-300 rounded-box p-10"
	>
		<h1 class="text-4xl">Check Your Email</h1>
		<p>Please check your email to reset your password.</p>
		<p>If you don't see the email, please check your spam folder.</p>
		<%- include("includes/emailLinks") %>
		<p>
			Once you've received the email, follow the instructions to reset
			your password.
		</p>
		<div class="flex justify-end">
			<a href="/auth/login" class="btn btn-primary">Login</a>
		</div>
	</section>
</main>
<%- include("includes/foot") %>
