<%- include('includes/head', { title: 'Delete account' }) %>
<main class="grid place-items-center min-h-screen py-10">
	<section
		class="grid gap-10 max-w-xl w-full bg-base-200 border border-base-300 rounded-box p-10"
	>
		<form action="/auth/delete-account" method="POST" class="grid gap-8">
			<h1 class="text-4xl">Delete account</h1>
			<p>
				Are you sure you want to delete your account? This action is
				irreversible and will remove all your data from our database.
			</p>

			<fieldset class="fieldset">
				<legend class="fieldset-legend">Password</legend>
				<label class="input validator w-full">
					<%- include('icons/password') %>
					<input
						required
						type="password"
						name="password"
						placeholder="Password"
					/>
				</label>
			</fieldset>

			<% if (typeof id !== 'undefined' && id === 'global') { %>
			<p class="text-error text-xs"><%= message %></p>
			<% } %>

			<div class="w-full flex justify-end items-center gap-2">
				<a href="/profile" class="btn btn-neutral">Cancel</a>
				<button type="submit" class="btn btn-error">
					Delete account
				</button>
			</div>
		</form>
	</section>
</main>
<%- include('includes/foot') %>
