<%- include("includes/head", { title: "Check Your Email" }) %>
<main class="grid place-items-center min-h-screen py-10">
	<section
		class="grid gap-10 max-w-xl w-full bg-base-200 border border-base-300 rounded-box p-10"
	>
		<h1 class="text-4xl">Créer un post</h1>
		<form action="/post/create" method="post" class="flex flex-col gap-4">
			<div class="grid grid-cols-2 gap-4">
				<button
					class="btn btn-neutral h-48 flex flex-col items-center justify-center gap-4"
				>
					Importer une image <%- include('icons/addImage') %>
				</button>

				<button
					class="btn btn-primary h-48 flex flex-col items-center justify-center gap-4"
				>
					Webcam live <%- include('icons/addFace') %>
				</button>
			</div>

			<div class="flex justify-end">
				<button type="submit" class="btn btn-primary">Publish</button>
			</div>
		</form>
	</section>
</main>
<%- include("includes/foot") %>
