<%- include("includes/head", { title: "Webcam capture" }) %>
<main class="flex flex-col items-center min-h-screen py-10">
	<section
		id="posts"
		class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 max-w-6xl w-full rounded-box gap-6 p-6"
	>
		<!-- prettier-ignore -->
		<% posts.forEach((post) => { %>
			<%- include("includes/galleryCard", { post }) %>
		<% }) %>
	</section>
</main>
<%- include("includes/footer") %>
