<%- include("includes/head", { title: "Webcam capture" }) %>
<main class="grid place-items-center min-h-screen py-10">
	<section
		class="grid max-w-6xl bg-base-200 border border-base-300 rounded-box p-6 gap-6"
	>
		<img
			id="imagePreview"
			class="max-h-[40vh] rounded-field"
			src=""
			alt="Image"
		/>
		<div class="grid grid-cols-[1fr_auto] gap-6">
			<input type="file" class="file-input file-input-primary w-full" />
			<button class="btn btn-primary">
				Import
			</button>
		</div>
	</section>
</main>
<%- include("includes/footer") %>

<script>
	const fileInput = document.querySelector("input[type='file']");
	fileInput.addEventListener("change", (event) => {
		const file = event.target.files[0];
		const reader = new FileReader();
		reader.onload = (event) => {
			const image = new Image();
			image.src = event.target.result;
			document.getElementById("imagePreview").src = image.src;
		};
		reader.readAsDataURL(file);
	});
</script>
