<%- include('includes/head', { title: 'Home' }) %>
<main class="flex flex-col items-center min-h-screen py-10">
	<section
		id="posts"
		class="grid gap-10 max-w-3xl w-full rounded-box p-10"
	></section>
</main>

<script src="/js/index.mjs"></script>
<script>
	document.addEventListener("DOMContentLoaded", fetchPosts(5));

	window.addEventListener("scroll", () => {
		if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
			fetchPosts(3);
		}
	});
</script>
