<%- include('includes/head', { title: 'Home' }) %>
<main class="flex flex-col items-center min-h-screen py-10">
	<section
		id="posts"
		class="grid grid-cols-3 max-w-6xl w-full rounded-box gap-6 p-6"
	></section>
</main>

<script>
	function getPostPage(page = 0) {
		for (let i = 0; i < 6; i++) {
			console.log("i", i);
			fetch(`/post/page/${page}/${i}`)
				.then((response) => response.text())
				.then((data) => {
					posts.innerHTML += data;
				});
		}
	}

	document.addEventListener("DOMContentLoaded", getPostPage(0));

	// window.addEventListener("scroll", () => {
	// 	if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
	// 		getRandomPost(3);
	// 	}
	// });
</script>
