<%- include('includes/head') %>
<main class="grid place-items-center min-h-screen bg-base-200 py-10">
	<p class="grid place-items-center text-2xl">
		Ceci est votre première page avec Express dans Docker.
	</p>
	<a class="btn btn-accent" href="https://google.com">Accueil de Google</a>
</main>
<%- include('includes/foot') %>
