<%- include("includes/head", { title: "Webcam capture" }) %>
<main class="grid place-items-center min-h-screen py-10">
	<section
		class="grid gap-10 max-w-xl w-full bg-base-200 border border-base-300 rounded-box p-10"
	>
		<h1>Webcam</h1>
	</section>
</main>
<%- include("includes/footer") %>
