<%- include("includes/head", { title: "Webcam capture" }) %>
<main class="grid place-items-center min-h-screen py-10">
	<section
		class="grid gap-10 max-w-xl w-full bg-base-200 border border-base-300 rounded-box p-10"
	>
		<h1>Webcam</h1>
		<video id="video" class="w-full h-auto" autoplay></video>
		<button id="takePictureButton" class="btn btn-primary mt-4">
			Take Picture
		</button>
		<canvas id="canvas" class="hidden"></canvas>
		<div
			id="imagePreviewContainer"
			class="hidden flex-col justify-center items-center gap-4"
		>
			<img
				id="imagePreview"
				class="h-48 aspect-square object-cover rounded-field"
				src=""
				alt="Aperçu de l'image"
			/>
		</div>
		<button
			id="confirmButton"
			class="btn btn-success mt-4"
			style="display: none"
		>
			Confirm Photo
		</button>
	</section>
</main>
<%- include("includes/footer") %>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const video = document.getElementById("video");
		const takePictureButton = document.getElementById("takePictureButton");
		const canvas = document.getElementById("canvas");
		const imagePreview = document.getElementById("imagePreview");
		const imagePreviewContainer = document.getElementById(
			"imagePreviewContainer"
		);
		const confirmButton = document.getElementById("confirmButton");

		let imageData = null;

		function startWebcam() {
			navigator.mediaDevices
				.getUserMedia({ video: true })
				.then(function (stream) {
					video.srcObject = stream;
					video.play();
				})
				.catch(function (err) {
					console.error("Error accessing the camera: " + err);
				});
		}

		function takePicture() {
			canvas.width = video.videoWidth;
			canvas.height = video.videoHeight;
			const context = canvas.getContext("2d");
			context.drawImage(video, 0, 0, canvas.width, canvas.height);
			imageData = canvas.toDataURL("image/png");
			imagePreview.src = imageData;
			imagePreviewContainer.style.display = "flex";
			confirmButton.style.display = "flex";
		}

		takePictureButton.addEventListener("click", takePicture);
		confirmButton.addEventListener("click", function () {
			sessionStorage.removeItem("capturedImage");
			sessionStorage.setItem("capturedImage", imageData);
			window.location.href = "/post/publish";
		});

		startWebcam();
	});
</script>
