<div class="grid grid-cols-3 gap-4">
	<a href="https://mail.google.com" target="_blank" class="btn btn-neutral">
		<%- include("../icons/gmail") %> Open Gmail
	</a>
	<a href="https://outlook.live.com" target="_blank" class="btn btn-neutral">
		<%- include("../icons/microsoft") %> Open Outlook
	</a>
	<a href="https://mail.yahoo.com" target="_blank" class="btn btn-neutral">
		<%- include("../icons/yahoo") %> Open Yahoo
	</a>
</div>
