<header class="h-20 grid place-items-center">
	<div class="h-full w-4/5 grid grid-cols-3 items-center justify-between">
		<a href="/" class="text-2xl">Camagru</a>
		<div class="flex items-center justify-center">
			<% if (isLoggedIn) { %>
			<a href="/gallery/add" class="btn btn-primary btn-square">
				<%- include('../icons/plus') %>
			</a>
			<% } %>
		</div>
		<div class="flex items-center gap-2 justify-end">
			<% if (isLoggedIn) { %>
			<a href="/gallery" class="btn btn-primary btn-ghost">Gallery</a>
			<a href="/profile" class="btn btn-primary btn-ghost">Profile</a>
			<a href="/auth/logout" class="btn btn-primary btn-ghost">Logout</a>
			<% } else { %>
			<a href="/auth/login" class="btn btn-primary btn-ghost">Login</a>
			<a href="/auth/register" class="btn btn-primary">Register</a>
			<% } %>
		</div>
	</div>
</header>
