<!-- prettier-ignore -->
<% 
	let classColor = "";

	if (posts[0].votes > posts[1].votes) {
		classColor = index === 0 ? "text-success" : "text-error";
	} else if (posts[0].votes < posts[1].votes) {
		classColor = index === 0 ? "text-error" : "text-success";
	} else {
		classColor = "text-gray-500";
	}
%>

<p class="font-bold text-xl select-none <%= classColor %>">
	<%= posts[index].votes %>
</p>
