<fieldset class="fieldset">
	<legend class="fieldset-legend"><%= legend %></legend>
	<label id="confirm-password-label" class="input validator w-full">
		<%- include('../../icons/password') %>
		<input
			required
			type="password"
			name="confirmPassword"
			placeholder="Confirm Password"
		/>
	</label>
	<p id="password-match-error" class="fieldset-label text-error hidden">
		Passwords do not match
	</p>
</fieldset>
