<fieldset class="fieldset">
	<legend class="fieldset-legend">Password</legend>
	<label class="input validator w-full">
		<%- include('../../icons/password') %>
		<input
			required
			type="password"
			name="<%= name %>"
			placeholder="Password"
			minlength="8"
			pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}"
		/>
	</label>
	<div class="validator-hint hidden">
		<p>Must be more than 8 characters, including</p>
		<p>At least one number</p>
		<p>At least one lowercase letter</p>
		<p>At least one uppercase letter</p>
		<p>At least one special character</p>
	</div>
	<% if (typeof id !== 'undefined' && id === 'password') { %>
	<p class="fieldset-label text-error"><%= message %></p>
	<% } %>
</fieldset>
