@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: "dark";
	default: false;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(21% 0.034 264.665);
	--color-base-200: oklch(13% 0.028 261.692);
	--color-base-300: oklch(27% 0.033 256.848);
	--color-base-content: oklch(98% 0.002 247.839);
	--color-primary: oklch(45.29% 0.15 262.63);
	--color-primary-content: oklch(98% 0.002 210.839);
	--color-secondary: oklch(74% 0.16 232.661);
	--color-secondary-content: oklch(98% 0.002 247.839);
	--color-accent: oklch(45.29% 0.15 262.63);
	--color-accent-content: oklch(98% 0.002 247.839);
	--color-neutral: oklch(27% 0.033 256.848);
	--color-neutral-content: oklch(98% 0.002 247.839);
	--color-info: oklch(71% 0.143 215.221);
	--color-info-content: var(--color-base-200);
	--color-success: oklch(77.75% 0.1595 166.57);
	--color-success-content: var(--color-base-200);
	--color-warning: oklch(88.03% 0.1348 86.06);
	--color-warning-content: var(--color-base-200);
	--color-error: oklch(64.76% 0.2042 11.07);
	--color-error-content: var(--color-base-200);
	--radius-selector: 2rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}
