<header class="h-20 grid place-items-center">
	<div class="h-full w-4/5 flex items-center justify-between">
		<h1 class="text-2xl">Podium</h1>
		<div class="flex items-center gap-8">
			<p>Stats</p>
			<p>Profil</p>
		</div>
		<p>Se connecter</p>
	</div>
</header>
