# Database Configuration
DATABASE_URI=postgresql://xxxxxxxxx
# Application Configuration
APP_URL=http://localhost:8080
APP_NAME=Camagru

# Email Configuration
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=xxxxxxxxx@smtp-brevo.com
SMTP_PASS=xxxxxxxxx
SMTP_FROM_EMAIL=zanotti.elias@gmail.com
SMTP_FROM_NAME=Camagru

# Security
SESSION_NAME=camagru_session
